@keyframes showNav {
    from {
        top: -100%;
    } to {
        top: 0;
    }
}

@keyframes waterfall {
    from {
        top: -200px;
        transform: rotate(0);
    }
    to {
        top: 100%;
        transform: rotate(180deg);
    }
  }