@keyframes showNav {
    from {
        top: -100%;
    } to {
        top: 0;
    }
}

@keyframes waterfall {
    from {
      top: -200px;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    to {
      top: 100%;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }
  }