.projects {
    &__warningIMG {
        display: none;
        max-width: 100%;
        padding: 2em;
    }
    &__warning {
        span {
            padding: 1em 0;
            font-weight: bold;
            a {
                display: flex;
                align-items: center;
                padding: 2em 0;
                color: var(--text-color);
                .bx {
                    margin-left: 10px;
                    transition: transform .3s;
                    transform: scale(1.4);
                }
                &:hover {
                    color: var(--first-color-light);
                    .bx {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3em 0;
    }
    &__box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    &__elem {
        &-item {
            max-width: 300px;
            margin: 2em 0;
            background: linear-gradient(126.86deg, var(--first-color) -2.07%, var(--first-color-light) 106.17%);
            box-shadow: -5px -5px 20px rgba(0, 0, 0, 0.4);
            border-radius: 15px;
            text-align: center;
            overflow: hidden;
            transition: box-shadow .3s;
        }
        &-links {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-title, &-link1, &-link2 {
            color: var(--white);
        }
        &-title {
            text-transform: uppercase;
            padding: .5em 1em;
        }
        &-link1, &-link2 {
            display: flex;
            align-items: center;
            padding: 1em;
            margin: .5em;
            transition: color .3s;
            .bx {
                margin-left: 10px;
                transition: transform .3s;
                transform: scale(1.4);
            }
            &:hover {
                color: #000;
                .bx {
                    transform: rotate(180deg);
                }
            }
        }
    }
}