.skills {
    width: 100vw;
    min-height: 70vh;
    position: relative;
    padding: 3em 2em;
    &__bgComponent {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        border-top: 300px solid var(--bg-component);
        border-right: 100vw solid transparent;
        filter: drop-shadow(4px 4px 40px rgba(0, 0, 0, 0.5));
        z-index: -1;
    }
    &__technologies {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1em;
        text-align: center;
        z-index: 0;
        &-item {
            padding: 2em;
            transition: transform .3s;
            &:hover {
                transform: scale(1.3);
            }
        }
    }
    &__text {
        font-size: var(--h3-font-size);
        font-weight: var(--font-medium);
    }
}