/*=============== REUSABLE CSS CLASSES ===============*/
.section{
    padding: 4em 1em;
    
    &__title {
        font-size: var(--h2-font-size);
        color: var(--title-color);
        margin-bottom: var(--mb-1);
        font-weight: var(--font-semi-bold);
    }
    &__titleSeparator {
        width: 70px;
        border: 2px solid var(--first-color);
        border-radius: 8px;
        background-color: var(--first-color);
        margin: 2px 0;
    }
    &__titleSecond {
        font-weight: var(--font-normal);
    }
}

/*=============== LAYOUT ===============*/

.center-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 1440px;
}

.max-container {
    max-width: 2000px;
}

