/*=============== VARIABLES CSS ===============*/
:root{
    /*========== Colors ==========*/
    --first-color: #8E3BDC;
    --bg-component: #8E3BDC;
    --first-color-light: #B886E8;
    --title-color: #525050;
    --text-color: #525050;
    --text-color-light: #707070;
    --body-color: #F1F5FF; 
    --nav-bg-color: #fff;
    --higher-section: #fff;
    --white: #fff;
    --footer: linear-gradient(90.53deg, var(--first-color) -6.62%, var(--first-color-light) 106.08%);

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 3rem;
    --h2-font-size: 2.5rem;
    --h3-font-size: 1.8rem;
    --normal-font-size: 1.6rem;
    --small-font-size: 1.4rem;
    --smaller-font-size: 1.2rem;

    // Responsive typography
    @media screen and (min-width: 968px){
        --biggest-font-size: 3.5rem;
        --h2-font-size: 3rem;
        --h3-font-size: 2.5rem;
        --normal-font-size: 1.8rem;
        --small-font-size: 1.6rem;
        --smaller-font-size: 1.4rem;
    }

    /*========== Font weight ==========*/
    --font-light: 300;
    --font-normal: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

}